


<form action="/register" method="post">
<input type="text" name="name" placeholder="name">
<input type="text" name="email" placeholder="email"> 
<input type="text" name="password" placeholder="password">
<button type="submit">Register</button>

</form>

<br>

<br>

<br>
<br>


<form action="/login" method="post">
<input type="text" name="email" placeholder="email"> 
<input type="text" name="password" placeholder="password">
<button type="submit">Login</button>
</form>


