


<form action="/api/register" method="post">
<input type="text" name="username" placeholder="username">
<input type="text" name="email" placeholder="email"> 
<input type="text" name="password" placeholder="password">
<button type="submit">Register</button>

</form>

<br>

<br>

<br>
<br>


<form action="/api/login" method="post">
<input type="text" name="username" placeholder="email"> 
<input type="text" name="password" placeholder="password">
<button type="submit">Login</button>
</form>


