
.artworks{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
      
     .ui.card {
        flex: 0 1 calc(100% - 1em);
      
        img {
            width: 100%;
        }
     }

     .ui.card:first-child, .ui.card {
        margin:20px auto;
     }
    
}

@media screen and (min-width: 40em) {
    .artworks{
        align-items: flex-start;
        .ui.card {
            flex: 0 1 calc(50% - 1em);
          
        }
        .ui.card:first-child, .ui.card {
            margin:40px auto;
         }
    }   
}


@media screen and (min-width: 60em) {
    .artworks{
        .ui.card {
            flex: 0 1 calc(25% - 1em);
        }
    }
}
