.nav{
    z-index: 2;
    display: flex;  
    background: white;
    padding:20px;
    position:fixed;
    top:0;
    left:0;
    right:0;
    height:50px;
    align-items: center;
    input{
        padding:0px;
    }
}

.hamburger span{
	display: block;
	margin:5px 0px;
	width: 48px;
	background-color:black;
    height:1px;
    margin-right:40px;
}

.logo {
    margin-left:40px;
}

.searchResultsContainer{
    position: fixed;
    left:50%;
    transform:translateX(-50%);
    border:1px solid black;
    width:50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: center;
    .btnRow{
        text-align: center;
        display: flex;
        button{
            width:100%;
          
        }
        .active{
            background-color: powderblue;
        }
    }
    .searchResults{
        padding:40px;
    }
}