

.nav{
    display: flex;  
    padding:20px;
    position:fixed;
    top:0;
    left:0;
    right:0;
    height:50px;
    align-items: center;
    input{
        padding:0px;
    }
}

.hamburger span{
	display: block;
	margin:5px 0px;
	width: 48px;
	background-color:black;
	height:1px;
}